
/* Your CSS Code here. */
.heading{
	background-color:purple;
	width:200px;
	padding:10px;
	color:white;
	font-size:20px;
	border-left-color: green;
	border-left-width: 5px;
	border-left-style:solid;
	text-decoration:underline;